
@{
    ViewBag.Title = "PutProject";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model Project

@using (Html.BeginForm("PutProject", "Project", FormMethod.Post))
{
    <br />
    @Html.Label("Proje Adı :*")
    @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })

    <br />
    @Html.Label("Proje Başlangıç Tarihi :*")
    @Html.TextBoxFor(x => x.ProjectStartDate.ToShortDateString(), new { @class = "form-control", @type = "datetime" })

    <br />
    @Html.Label("Proje Bitiş Tarihi :*")
    @Html.TextBoxFor(x => x.ProjectEndDate.ToShortDateString(), new { @class = "form-control", @type = "datetime" })

    <br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
}
@if (ViewBag.Valid == true)
{
    @Html.ValidationMessageFor(x => x.ProjectName, null, new { @class = "alert bg-danger text-white d-block mt-2 mb-2" })
}

